[Desktop Entry]
Type=Application
Name=WAVO
GenericName=WhatsApp Client
Comment=A native WhatsApp client
Exec=wavo
Icon=wavo
Terminal=false
Categories=Network;InstantMessaging;Chat;
Keywords=whatsapp;chat;messaging;
StartupWMClass=wavo
